footer {
   height: 800px;
   background-color: #32495C;
   color: white;
}

.col {
   float: left;
   width: 25%;
   /* height: 50px; */
   /* background-color: red; */
}

.footer-list {
   list-style: none;
   padding-top: 50px;
}

.footer-list li {
   line-height: 50px;
}

.footer-list li:first-child {
   font-weight: bold;
}

.footer-list a {
   color: inherit;
}

#special-btn {
   display: inline-block;
   background-color: #ffffff;
   border-radius: 5px;
   margin-bottom: 50px;
   text-align: center;
}


.icons i {
   padding-right: 7%;
   font-size: 24px;
}
