.header-top {
   position: relative;
}

.header-global {
   height: 100px;
   background-color: #E8E8E8;
   border-bottom: 1px solid gray;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

.left {
   float: left;
}

.right {
   float:right;
}
.header-nav {
   height: 100px;
   background-color: #ffffff;
}

.header-jumbotron {
   height: 1200px;
   background-image: url("../img/jumbotron.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header-bottom {
   height: 100px;
   background-color: green;
}

.jumbotron-text {
   margin-top: 100px;
   width: 40%;
}

.jumbotron-text h1 {
   font-size: 80px;
   line-height: 100px;
   font-weight: bold;
}
