
/* Corpo pagina - Intestazione */
.main-top-header {
   text-align: center;
   padding: 30px 0;
}
.main-top-header img {
   width: 30%;
}
.main-top-header h2 {
   font-size: 32px;
}

/* Corpo pagina - Card orrizontale */
#horizontal-card {
   padding: 60px;
}

.card-aside {
   float:left;
   width: 30%;
   text-align: center;
}
.card-aside img {
   display: inline-block;
   width: 50%;
   margin-bottom: 40px;
}

.card-content {
   float:right;
   width: 70%;
}
.card-content i {
   color: #fe775a;
}
.card-content span {
   padding: 0 10px;
}

.card-bkg {
   background-color: #ffffff;
   border-radius: 5px;
   margin-bottom: 30px;
   box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
   padding: 30px 30px 40px 30px;
}

/* Corpo pagina - Tre cards in colonna */
.cards {
   text-align: center;

}
.cards img {
   display: inline-block;
   height: 100px;
   margin-bottom: 30px;
}
.cards hr {
   margin: 60px 0;
}

.left-card {
   width: 32%;
   float: left;
}

.middle-card {
   width: 32%;
   float: left;
   margin: 0 2%;
}

.right-card {
   width: 32%;
   float: right;
}

.icon-list i{
   color: #fe775a;
}
.icon-list {
   text-align: left;
   margin-bottom: 50px;
}

/* Corpo pagina - sezione blu */

#main-middle {
   background-image: linear-gradient(to right, #01AAB8 , #00BAA9);
   color: #ffffff;
   text-align: center;
   padding: 50px 0;
}
#main-middle h2 {
   font-size: 32px;
}

.row:nth-last-of-type(odd) {
   border-top: 1px solid white;
}

.square {
   width: 25%;
   float: left;
   border-right: 1px solid #ffffff;
}
.square:last-child{
   border-right: 0px;
}
.square img {
   display: inline-block;
   height: 30px;
   margin: 15px 0;
}
.square h2 {
   font-size: 40px;
   margin-bottom: 15px;
}
.square p {
   font-size: 12px;
   margin-bottom: 15px;
}
.square i {
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
}

.info-numbers {
   padding: 40px 0;
}

/* Corpo pagina - sezione con immagine donna */
#main-bottom-top {
   width: 90%;
   margin: 0 auto;
   margin-top: 50px;
}

.customers {
   float: left;
   width: 20%;
}
.customers h2 {
   font-size: 42px;
}

.list-logo {
   float: right;
   width: 60%;
}

.logo {
   float: left;
   width: 25%;
}
.logo img {
   height: 70px;
   object-fit:scale-down;
}

#main-bottom-bottom {
   margin-bottom: 30px;
}
#main-bottom-bottom img {
   float: right;
   width: 30%;
   padding-top: 30px;
}

#bottom-box {
   float: left;
}
#bottom-box h2 {
   float: left;
   font-size: 32px;
}
