main {
   width: 100%;
   height: 1000px;
   background: #F4F9FD;
}

.top-header {
   text-align: center;
   padding: 30px 0;
}

.top-header img {
   width: 30%;
}

.top-header h2 {
   font-size: 32px;
}

.card-aside {
   width: 30%;
   float: left;
   text-align: center;
}

.card-aside img {
   width: 40%;
   margin-bottom: 30px;
}

.card-aside a {
   padding-left: 30px;
   padding-right: 30px;
}

.card-content {
   width: 70%;
   float: right;
}

.card-content i {
   color: #fe775a;
}

.card-content span {
   padding: 0 10px;
}

.card-bkg {
   background-color: #ffffff;
   border-radius: 5px;
   /* TO CHANGE!!!!!!!!!! */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 100%;
   padding: 60px 40px;
}
