main {
   background-color: #e8f2f2;
   width: 100%;
}

.centered {
      width: 70%;
      margin: 0 auto;
      padding-bottom: 50px;
}

.main-header {
   text-align: center;
   width: 80%;
   margin: 0 auto;
   padding: 50px;
   background-color: #e8f2f2;
}

.main-header img {
   display: inline-block;
   width: 30%;
}

.card {
   margin-bottom: 100px;

}

.card-aside {
   width: 35%;
   float: left;
   padding: 70px;
   text-align: center;
}

.card .card-aside .image-container img {
   width: 30%;
   margin-top: 50px;
}

.image-container {
   margin-bottom: 50px
}

.card-content {
   padding: 70px;
   line-height: 50px;
   float: left;
   width: 65%;
}

.card-content h3 {
   margin: 25px 0;
}

.card-content i {
   color: #ff7a59;
}


.card-bkg {
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-col {
   float: left;
   width: 30%;
   padding: 50px;
}

.cards {
   text-align: center;
}

.cards .image-container {
   height: 200px;
}

.cards .image-container img {
   height: 100%;
}

.cards hr {
   margin: 70px 0 50px 0;
}


.cards i {
   color: #ff7a59;
}

.cards .icon-list {
   text-align: left;
   margin-bottom: 50px;
}

.middle-col {
   float: left;
   width: 30%;
   margin: 0 5%;
   padding: 50px;
}

.right-col {
   float: right;
   width: 30%;
   padding: 50px;
}


/* Main - numbers section */

.main-center {
   background-color: #01b9aa;
   color: white;
   text-align: center;
}
.main-center .centered h2 {
   font-size: 60px;
}

.main-center .centered p {
   font-size: 28px;
}
.row {
   width: 100%;
   height: 400px;
}

.square {
   height: 100%;
   width: 25%;
   border: 1px solid white;
   float: left;
}










.main-bottom {
   background-color: #ffffff;
   height: 200px;
}
