* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
}

.clearfix {
   content: "";
   display: table;
   clear: both;
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: 30px;
}

p {
   margin-bottom: 30px;
   line-height: 30px;
}

.orange-style-link {
   background-color: #ff7a59;
   color: white;
}

.white-style-link {
   background-color: white;
   color: #ff7a59;
   border: 1px solid #ff7a59;
}

.btn-small {
   padding: 10px 20px;
}

.btn-big {
   padding: 20px 40px;
}

.btn-small, .btn-big {
   border-radius: 10px;
   text-decoration: none;
   display: inline-block;
   border: 1px solid #ff7a59;
}
