* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Nunito', sans-serif;
   font-size: 28px;
}

.middle-layer {
   width: 80%;
   margin: auto;
   padding: 30px;
}

.middle-layer::after {
   content: "";
   display: table;
   clear: both;
}

.custom-margin {
   margin-bottom: 50px;
}

.orange-style-link {
   background-color: #ff7a59;
   color: white;
}

.white-style-link {
   background-color: white;
   color: #ff7a59;
   border: 1px solid #ff7a59;
}

.btn-small {
   padding: 10px 20px;
}

.btn-big {
   padding: 20px 40px;
}

.btn-small, .btn-big {
   border-radius: 10px;
   text-decoration: none;
   display: inline-block;
   border: 1px solid #ff7a59;
}
